<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{orderInfo.title}">Orders</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div><h1 th:text="#{orderInfo.listOfOrders}">My list of orders</h1></div>
    <div class="table">
        <table width="80%">
            <thead>
            <tr>
                <th th:text="#{orderInfo.id}">Id</th>
                <th th:text="#{orderInfo.startDate}">Start Date</th>
                <th th:text="#{orderInfo.endDate}">End Date</th>
                <th th:text="#{orderInfo.car}">Car</th>
                <th th:text="#{orderInfo.cost}">Total cost</th>
                <th th:text="#{orderInfo.status}">Status</th>
                <th th:text="#{orderInfo.accidents}">Accidents</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="order:${orders}">
                <tr>
                    <td align="center" height="30">[[${order.id}]]</td>
                    <td align="center" height="30">[[${order.startDate}]]</td>
                    <td align="center" height="30">[[${order.endDate}]]</td>
                    <td align="center" height="30">[[${order.car.getBrand}]] [[${order.car.getModel}]]</td>
                    <td align="center" height="30">[[${order.cost}]]</td>
                    <td align="center" height="30">[[${order.status}]]</td>
                    <td align="center" width="450" height="30">
                        <th:block th:each="accident:${accidents}">
                            <div th:if="${accident.order.getId} eq ${order.id}">
                                <a th:href="@{'/accidents/showAccidentByOrder/'+${accident.id}}">[[${accident.id}]]</a>
                            </div>
                        </th:block>
                    </td>
                    <td align="center" height="30">
                    <form method="GET" th:action="@{'/orders/canceledByUser/'+${order.id}}">
                        <button th:text="#{menu.cancel}" id="btnUsersForAdmin">cancel</button>
                    </form>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
    <footer th:insert="blocks/footer::footer" id="footer_other"></footer>
</div>
</body>
</html>