<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{top.order}">Order</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div class="main-content">
        <h1 th:text="#{make.order}" class="pageHead">Make an order</h1>
        <div th:if="${message}">[[${message}]]</div>
        <div class="car_details">
            <div class="carImg">
                <div th:unless="${car.getImg()==null}">
                    <img th:src="@{${car.getImagePath()}}" class="img"/>
                </div>
            </div>
            <div class="car_details_wrap">
                <div>
                    <p><a th:text="#{carInfo.brand}">Brand: </a>
                        <strong th:text="${car.brand}" id="brand" class="carInf"></strong></p>
                </div>
                <div>
                    <p><a th:text="#{carInfo.model}">Model: </a>
                        <strong th:text="${car.model}" id="model" class="carInf"></strong></p>
                </div>
                <div>
                    <p><a th:text="#{carInfo.engineType}">Engine type:</a>
                        <strong th:text="${car.engineType}" id="engineType" class="carInf"></strong></p>
                </div>
                <div>
                    <p><a th:text="#{carInfo.carType}">Car Type</a>
                        <strong th:text="${car.carType}" id="carType" class="carInf"></strong></p>
                </div>
                <div>
                    <p><a th:text="#{carInfo.gearbox}">Gearbox: </a>
                        <strong th:text="${car.gearbox}" id="gearbox" class="carInf"></strong></p>
                </div>
                <div>
                    <p><a th:text="#{carInfo.pricePerDay}">Price per day:</a>
                        <strong th:text="${car.pricePerDay}" id="pricePerDay" class="carInf"></strong></p>
                </div>
            </div>
        </div>
        <div th:if="${timeEmpty}">[[${timeEmpty}]]</div>
        <form id="form_rent_price" method="get" th:action="@{'/orders/cost/'+${car.id}}">
            <div>
                <label th:text="#{carInfo.startDay}">Start date</label>
                <div>
                    <input type="date" id="startDate" name="startDate" th:value="*{startDate}" required class="input"/>
                </div>
            </div>
            <div>
                <label th:text="#{carInfo.endDay}">End date</label>
                <div>
                    <input type="date" id="endDate" name="endDate" th:value="*{endDate}" required class="input"/>
                </div>
            </div>
            <div th:if="${cost}">
                <h1 th:text="#{carInfo.cost}">Total rental price:</h1>
                <h1>[[${cost}]]</h1>
            </div>
            <button type="submit" th:text="#{carInfo.calculate}"> Сalculate the cost</button>
        </form>
        <form id="form_rent_price" method="get" th:action="@{'/orders/new/'+${car.id}}">
            <input type="hidden" name="startDate" th:value="*{startDate}" required/>
            <input type="hidden" name="endDate" th:value="*{endDate}" required/>
            <button type="submit" th:text="#{carInfo.checkout}">Checkout</button>
        </form>
            <button type="button" onclick="cancelForm()" th:text="#{userInfo.cancel}"> Cancel</button>
        <script type="text/javascript">
            function cancelForm(){
            window.location="[[@{/cars/carsForUser}]]";
            }
        </script>
        <footer th:insert="blocks/footer::footer"></footer>
    </div>
</div>
</body>
</html>

