<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <form th:action="@{/users/update}" method="post" th:object="${user}">
        <div id="form_edit">
            <div>
                <label><b>Change username:</b></label>
                    <input type="text" th:placeholder="#{login.placeholderForUsername}" th:field="*{username}">
            </div>
            <div>
                <label><b>Change password:</b></label>
                    <input type="password" th:placeholder="#{authorization.password}" th:field="*{password}">
            </div>
            <div>
                <label><b>Change name:</b></label>
                    <input type="text" th:placeholder="#{login.placeholderForName}" th:field="*{name}">
            </div>
            <div>
                <label><b>Change surname:</b></label>
                    <input type="text" th:placeholder="#{authorization.surname}" th:field="*{surname}">
            </div>
            <div>
                <label><b>Change email:</b></label>
                    <input type="text" th:field="*{email}">
            </div>
            <div>
                <label class=""><b>Change phone number:</b></label>
                    <input type="text" th:field="*{phoneNumber}">
            </div>
            <input type="hidden" name="id" th:value="${user.id}" required/>
            <button type="submit">Save</button>
        </div>
    </form>
</div>


    <form method="GET" th:action="@{'/users/1'}">
        <input type="hidden" name="sortField" value="id"/>
        <input type="hidden" name="sortDirection" value="asc"/>
        <button type="submit" th:text="#{menu.back}" id="btnUsersForAdmin">Back</button>
    </form>
</div>
<script src="/js/car-settings.js"></script>
<footer th:insert="blocks/footer::footer" id="footer_other"></footer>
</body>
</html>
