<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{app.titleTerms}">Rent terms</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <h1 class="headOfPage" th:text="#{h1.Terms}"></h1>
    <div class="table">
            <table width="100%">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td align="right" width="30%">
                            <h3 th:text="#{terms.doc}">Required documents:</h3>
                            <ul class="ul_terms">
                                <li th:text="#{terms.passport}">The passport</li>
                                <li th:text="#{terms.license}">Driver's license</li>
                                <li th:text="#{terms.pledge}">Pledge*</li>
                                <li th:text="#{terms.experience}">Driving experience of at least 1 year</li>
                            </ul>
                        </td>
                        <td align="center">
                            <img src="./img/terms_mobile.png" alt="terms_mobile">
                        </td>
                        <td align="left" width="30%">
                            <h4 th:text="#{terms.300}">The cost of a rental day includes 300 km of run, each subsequent 100 km are paid separately</h4>
                            <p th:text="#{terms.text}">
                                *To issue a car, a deposit is required, which is fully refundable if the car is returned in the same condition as at the time of issue (fuel level, technical and aesthetic condition).
                                For citizens of the Republic of Belarus, the amount of the deposit is 200 Belarusian rubles. rubles, for foreign persons of the Republic of Belarus - $200.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
    </div>
    <footer th:insert="blocks/footer::footer"></footer>
</div>
</body>
</html>