<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/header.css"/>
    <link rel="stylesheet" href="./css/main.css">
    <meta charset="UTF-8">
    <title th:text="#{card.tittle}">Card</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div class="pageHead">
    </div>
    <div >
        <form th:action="@{/payments/new}" method="get">
            <input type="hidden" name="orderId" th:value="${order.id}" required/>
            <div th:unless="${error}==null">
                <p>
                    <a th:text="${error}"></a>
                </p>
            </div>
            <div>
                <label for="inputForCardNumber" th:text="#{card.number}" class="label">Card number:</label>
                <input type="text" name="number" id="inputForCardNumber" class="input"/>
            </div>
            <div>
                <label for="inputForValidity1" th:text="#{card.validity}" class="label">Validity: </label>
                <input type="text" name="validity1" id="inputForValidity1" required class="input" size="5"/>
                Passport data:<input type="text" name="validity2" id="inputForValidity2" required class="input" size="5"/>
            </div>
            <button type="submit" th:text="#{card.pay}" class="form_login_button">Pay</button>
        </form>
    </div>
</div>
<footer th:insert="blocks/footer::footer" id="footer_registration"></footer>
</body>
</html>