<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="#{app.titlePayments}">Manage payments</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div class="main-content"><h1 th:text="#{paymentInfo.list}">List payments</h1></div>
    <div th:if="${message}">[[${message}]]</div>
    <form th:method="GET" th:action="@{/payments/searchPaymentsByDate}">
        <h2 th:text="#{paymentInfo.byDate}"> Select payments by date:</h2>
        <div id="SearchBtn">
        <input type="date" id="date" name="date"/>
        <button type="submit" class="btnSearch" th:text="#{searchOrder.buttonSearch}">Search</button>
        </div>
    </form>
    <div class="table">
        <table width="80%">
            <thead>
            <tr>
                <th th:text="#{paymentInfo.id}">Id</th>
                <th th:text="#{paymentInfo.order}">Order</th>
                <th th:text="#{paymentInfo.status}">Status</th>
                <th th:text="#{paymentInfo.totalPrice}">Total Price</th>
                <th th:text="#{paymentInfo.date}">Payment Date</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="payment:${payments}">
                <tr>
                    <td align="center" height="30">[[${payment.id}]]</td>
                    <td align="center" height="30">[[${payment.order.getStartDate}]] [[${payment.order.getEndDate}]]
                        [[${payment.order.getUser.getName}]] [[${payment.order.getUser.getSurname}]]
                    </td>
                    <td align="center" height="30">[[${payment.status}]]</td>
                    <td align="center" height="30">[[${payment.totalPrice}]]</td>
                    <td align="center" height="30">[[${payment.paymentDate}]]</td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>

