<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div class="carInfo" id="carInfo">
        <div class="carImg_wrap">
            <div th:unless="${car.getImg()==null}">
                <img th:src="@{${car.getImagePath()}}" class="car_img"/>
            </div>
        </div>
        <div class="car_descr">
            <div>
                <p><a th:text="#{carInfo.brand}">Brand:</a>
                    <strong th:text="${car.brand}" id="brand" class="carInf"></strong></p>
            </div>
            <div>
                <p><a th:text="#{carInfo.model}">Model: </a>
                    <strong th:text="${car.model}" id="model" class="carInf"></strong></p>
            </div>
            <div>
                <p><a th:text="#{carInfo.engineType}">Engine type:</a>
                    <strong th:text="${car.engineType}" id="engineType" class="carInf"></strong></p>
            </div>
            <div>
                <p><a th:text="#{carInfo.carType}">Car Type</a>
                    <strong th:text="${car.carType}" id="carType" class="carInf"></strong></p>
            </div>
            <div>
                <p><a th:text="#{carInfo.gearbox}">Gearbox: </a>
                    <strong th:text="${car.gearbox}" id="gearbox" class="carInf"></strong></p>
            </div>
            <div>
                <p><a th:text="#{carInfo.pricePerDay}">Price per day:</a>
                    <strong th:text="${car.pricePerDay}" id="pricePerDay" class="carInf"></strong></p>
            </div>
        </div>
    </div>
    <div class="homePageBtn">
        <div sec:authorize="hasRole('ROLE_USER')">
            <form th:method="GET" th:action="@{/cars/carsForUser}">
                <button type="submit" th:text="#{menu.back}">Back</button>
            </form>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <form th:method="GET" th:action="@{/cars}">
                <button type="submit" th:text="#{menu.back}">Back</button>
            </form>
        </div>
    </div>

</div>
<footer id="footer_other" th:insert="blocks/footer::footer"></footer>
</body>
</html>
