<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div class="carInfo" id="carInfo">
        <div class="carImg_wrap">
            <div th:unless="${car.getImg()==null}">
                <img th:src="@{${car.getImagePath()}}" class="car_img"/>
            </div>
        </div>
        <div class="car_descr">
            <div>
                <p><span th:text="#{carInfo.brand}">Brand:</span>
                    <strong th:text="${car.brand}" id="brand" class="carInf"></strong></p>
            </div>
            <div>
                <p><span th:text="#{carInfo.model}">Model:</span>
                    <strong th:text="${car.model}" id="model" class="carInf"></strong></p>
            </div>
            <div>
                <p><span th:text="#{carInfo.engineType}">Engine type:</span>
                    <strong th:text="${car.engineType}" id="engineType" class="carInf"></strong></p>
            </div>
            <div>
                <p><span th:text="#{carInfo.carType}">Car Type:</span>
                    <strong th:text="${car.carType}" id="carType" class="carInf"></strong></p>
            </div>
            <div>
                <p><span th:text="#{carInfo.gearbox}">Gearbox:</span>
                    <strong th:text="${car.gearbox}" id="gearbox" class="carInf"></strong></p>
            </div>
            <div>
                <p><span th:text="#{carInfo.pricePerDay}">Price per day:</span>
                    <strong th:text="${car.pricePerDay}" id="pricePerDay" class="carInf"></strong> $</p>
            </div>
        </div>
        <div class="car_buttons_wrap">
            <div sec:authorize="hasRole('ROLE_USER')">
                <form th:method="GET" th:action="@{'/cars/rent/'+${car.id}}">
                    <button type="submit" id="car_buttons" th:text="#{carInfo.rent}">Back</button>
                </form>
<!--                <a class="button" id="car_buttons" th:action="@{'/cars/rent/'+${car.id}}" th:text="#{carInfo.rent}">Rent</a>-->
                <form th:method="GET" th:action="@{/cars/carsForUser}">
                    <button type="submit" id="car_buttons" th:text="#{menu.back}">Back</button>
                </form>
            </div>
            <div sec:authorize="hasRole('ROLE_ADMIN')">
                <form th:method="GET" th:action="@{/cars/carsForUser}">
                    <button type="submit" id="car_buttons" th:text="#{menu.back}">Back</button>
                </form>
            </div>
            <div sec:authorize="isAnonymous()">
                <form th:method="GET" id="car_buttons" th:action="@{/cars/carsForUser}">
                    <button type="submit" th:text="#{menu.back}">Back</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer id="footer_other" th:insert="blocks/footer::footer"></footer>
</body>
</html>
