<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div class="main-content">
        <div>
            <h1 th:text="#{carInfo.list}">Cars list</h1>
        </div>
        <div th:if="${message}">
            [[${message}]]
        </div>
        <div class="items_wrap">
            <div class="show_item_wrap">
                <th:block th:each="car:${cars}">
                    <div class="show_item">
                        <a th:href="@{'/cars/details/'+${car.id}}">
                            <img th:src="@{${car.imagePath}}" class="show_item_img" alt="car"/>
                        </a>
                        <a th:href="@{'/cars/details/'+${car.id}}">
                            <div class="car_name">[[${car.brand}]] [[${car.model}]]</div>
                        </a>
                        <span class="car_desc">
                            <span class="car_desc_title">Rent price:&nbsp</span>[[${car.pricePerDay}]] $
                        </span>
                        <div class="item_buttons">
                            <a class="button" id="car_buttons" th:href="@{'/cars/details/'+${car.id}}"
                               th:text="#{carInfo.details}">Details</a>
                            <div sec:authorize="hasRole('ROLE_USER')">
                                <a class="button"id="car_buttons" th:href="@{'/cars/rent/'+${car.id}}" th:text="#{carInfo.rent}">Rent</a>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
                    function clearFilter(){
                    window.location="@{/}"}
</script>
</body>
</html>
