<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security"
<head>
    <meta charset="UTF-8">
    <title>Manage cars</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div class="main-content">
        <div>
            <h1 th:text="#{carInfo.carsList}">Cars list</h1>
        </div>
        <div id="AddBtn">
            <form th:method="GET" th:action="@{/cars/new}">
                <button type="submit" th:text="#{carInfo.addCar}">Add new car</button>
            </form>
        </div>
        <div>&nbsp</div>
        <div style="color:red " th:if="${message}"><h1>[[${message}]]</h1></div>
        <div class="table">
            <table width="80%">
                <thead>
                <tr>
                    <th th:text="#{carInfo.id}">Id</th>
                    <th th:text="#{carInfo.image}">Image</th>
                    <th th:text="#{carInfo.brand}">Brand</th>
                    <th th:text="#{carInfo.model}">Model</th>
                    <th th:text="#{carInfo.gearbox}">Gearbox</th>
                    <th th:text="#{carInfo.manufacturedYear}">Manufactured Year</th>
                    <th th:text="#{carInfo.engineType}">Engine type</th>
                    <th th:text="#{carInfo.pricePerDay}">Price per day</th>
                    <th th:text="#{carInfo.carType}">Car type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="car:${cars}">
                    <tr>
                        <td align="center">[[${car.id}]]</td>
                        <td align="center" class="imgOfCar">
                            <img th:src="@{${car.imagePath}}" class="img" style="width:100px"/>
                        </td>
                        <td align="center">[[${car.brand}]]</td>
                        <td align="center">[[${car.model}]]</td>
                        <td align="center">[[${car.gearbox}]]</td>
                        <td align="center">[[${car.manufacturedYear}]]</td>
                        <td align="center">[[${car.engineType}]]</td>
                        <td align="center">[[${car.pricePerDay}]]</td>
                        <td align="center">[[${car.carType}]]</td>
                        <td align="center">
                            <div id="tableBtn">
                                <form th:method="GET" th:action="@{'/cars/edit/'+${car.id}}">
                                    <button type="submit" th:text="#{carInfo.edit}">edit</button>
                                </form>
                            </div>
                        </td>
                        <td align="center">
                            <div id="tableBtn">
                                <form th:method="GET" th:action="@{'/cars/delete/'+${car.id}}">
                                    <button type="submit" th:text="#{carInfo.delete}">delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <script type="text/javascript">
                    function clearFilter(){
                    window.location="@{/}"}

        </script>
    </div>
</div>
<footer th:insert="blocks/footer::footer" id="footer_other"></footer>
</body>
</html>


