<div th:fragment="menu">
    <!-- ROLE_ADMIN START -->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <header>
            <nav>
                <ul class="menu-main">
                    <li><a th:href="@{/users/userProfile}" th:text="#{menu.profile}">Profile</a></li>
                    <li><a th:href="@{/cars}" th:text="#{menu.cars}">Cars</a></li>
                    <li>
                        <form method="GET" th:action="@{'/users/1'}">
                            <input type="hidden" name="sortField" value="id"/>
                            <input type="hidden" name="sortDirection" value="asc"/>
                            <button type="submit" th:text="#{menu.users}" id="btnUsersForAdmin">Users</button>
                        </form>
                    </li>
                    <li>
                        <form method="GET" th:action="@{'/orders/1'}">
                            <input type="hidden" name="sortField" value="id"/>
                            <input type="hidden" name="sortDirection" value="asc"/>
                            <button type="submit" th:text="#{menu.orders}" id="btnUsersForAdmin">Orders</button>
                        </form>
                    </li>
                    <li><a th:href="@{/payments}" th:text="#{menu.payments}">Payments</a></li>
                    <li><a th:href="@{/comments}" th:text="#{menu.comments}">Comments</a></li>
                    <li><a th:href="@{/logout}" th:text="#{menu.logout}">Logout</a></li>
                    <!-- LANG START -->
                    <li>
                        <div class="btnsLang_wrap">
                            <form th:action="@{~/}" id="btnLang">
                                <button type="submit" value="ru" th:name="lang" th:text="#{bottom.rus}"></button>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="btnsLang_wrap">
                            <form th:action="@{~/}" id="btnLang">
                                <button type="submit" value="en" th:name="lang" th:text="#{bottom.eng}"></button>
                            </form>
                        </div>
                    </li>
                    <!-- LANG END -->
                </ul>
            </nav>
        </header>
    </div>
    <!-- ROLE_ADMIN END -->

    <!-- ROLE_ANONYMOUS START -->
    <div sec:authorize="isAnonymous()">
        <header>
            <nav>
                <ul class="menu-main">
                    <li><a th:href="@{/about}" th:text="#{menu.aboutUs}">About us</a></li>
                    <li><a th:href="@{/terms}" th:text="#{menu.terms}">Rent terms</a></li>
                    <li><a th:href="@{/contacts}" th:text="#{menu.contacts}">Contacts</a></li>
                    <li><a th:href="@{/commentsMainPage}" th:text="#{menu.comments}">Comments</a></li>
                    <li><a th:href="@{/login}" th:text="#{menu.signin}">Sign in</a></li>
                    <li><a th:href="@{/registration}" th:text="#{menu.signup}">Sign up</a></li>
                    <!-- LANG START -->
                    <li>
                        <div class="btnsLang_wrap">
                            <form th:action="@{~/}" id="btnLang">
                                <button type="submit" value="ru" th:name="lang" th:text="#{bottom.rus}"></button>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="btnsLang_wrap">
                            <form th:action="@{~/}" id="btnLang">
                                <button type="submit" value="en" th:name="lang" th:text="#{bottom.eng}"></button>
                            </form>
                        </div>
                    </li>
                    <!-- LANG END -->
                </ul>
            </nav>
        </header>
    </div>
    <!-- ROLE_ANONYMOUS END -->

    <!-- ROLE_USER START -->
    <div sec:authorize="hasRole('ROLE_USER')">
        <header>
            <nav>
                <ul class="menu-main">
                    <li><a th:href="@{/about}" th:text="#{menu.aboutUs}">About us</a></li>
                    <li><a th:href="@{/terms}" th:text="#{menu.terms}">Rent terms</a></li>
                    <li><a th:href="@{/contacts}" th:text="#{menu.contacts}">Сontacts</a></li>
                    <li><a th:href="@{/users/userProfile}" th:text="#{menu.profile}">Profile</a></li>
                    <li><a th:href="@{/cars/carsForUser}" th:text="#{menu.cars}">Cars</a></li>
                    <li><a th:href="@{/orders/ordersForUser}" th:text="#{menu.Myorders}">My orders</a></li>
                    <li><a th:href="@{/comments}" th:text="#{menu.comments}">Comments</a></li>
                    <li><a th:href="@{/logout}" th:text="#{menu.logout}">Logout</a></li>
                    <!-- LANG START -->
                    <li>
                        <div class="btnsLang_wrap">
                            <form th:action="@{~/}" id="btnLang">
                                <button type="submit" value="ru" th:name="lang" th:text="#{bottom.rus}"></button>
                            </form>
                        </div>
                    </li>
                    <li>
                        <div class="btnsLang_wrap">
                            <form th:action="@{~/}" id="btnLang">
                                <button type="submit" value="en" th:name="lang" th:text="#{bottom.eng}"></button>
                            </form>
                        </div>
                    </li>
                    <!-- LANG END -->
                </ul>
            </nav>
        </header>
    </div>
    <!-- ROLE_USER END -->
</div>

