<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.orh/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Comments</title>
    <link rel="icon" type="image/x-icon" href="/img/car_fav.png">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
<div class="conteiner">
    <div th:insert="blocks/header::header"></div>
    <div th:insert="blocks/menu::menu"></div>
    <div class="main-content"><h1 th:text="#{commentInfo.com}">List comments</h1></div>
    <div>
        <div sec:authorize="hasRole('ROLE_USER')">
            <div id="AddBtn">
                <form th:method="GET" th:action="@{/comments/new}">
                    <button type="submit" th:text="#{commentInfo.add}">Add new comment</button>
                </form>
            </div>
        </div>
    </div>
    <div>&nbsp</div>
    <div style="color:red " th:if="${message}"><h1>[[${message}]]</h1></div>
    <div>
        <div class="table">
            <table width="80%">
                <thead>
                <tr>
                    <th th:text="#{commentInfo.id}">Id</th>
                    <th th:text="#{commentInfo.user}">User</th>
                    <th th:text="#{commentInfo.date}">Date</th>
                    <th th:text="#{commentInfo.content}">Content</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="comment:${comments}">
                    <tr>
                        <td align="center" height="30">[[${comment.id}]]</td>
                        <td align="center" height="30">[[${comment.user.getName}]]</td>
                        <td align="center" height="30">[[${comment.date}]]</td>
                        <td align="left" height="30" width="60%">[[${comment.content}]]</td>
                        <td align="center" height="30">
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <div id="tableBtn">
                                    <form th:method="GET" th:action="@{'/comments/edit/'+${comment.id}}">
                                        <button type="submit" th:text="#{commentInfo.edit}">edit</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td align="center" height="30">
                            <div sec:authorize="hasRole('ROLE_ADMIN')">
                                <div id="tableBtn">
                                    <form th:method="GET" th:action="@{'/comments/delete/'+${comment.id}}">
                                        <button type="submit" th:text="#{commentInfo.delete}">delete</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function clearFilter(){
    window.location="@{/}"}










</script>
</div>
<footer th:insert="blocks/footer::footer" id="footer_other"></footer>
</body>
</html>
